h1 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: oldlace;
  font-size: 1.5em;
  font-weight: normal;
  color: rgba(red, green, blue, 0.7);
  text-transform: uppercase;
  letter-spacing: -0.2em;
  text-align: center;
  line-height: 200px;
  border-radius: 50%;
}

h1 span {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  border-radius: 50%;
  background-color: oldlace;
}

h1 .circle1 {
  top: -20px;
  left: 80px;
}

h1 .circle2 {
  top: calc(50% - 20px);
  right: -20px;
}

h1 .circle3 {
  bottom: -20px;
  left: calc(50% - 20px);
}

h1 .circle4 {
  top: calc(50% - 20px);
  left: -20px;
}

.box1 {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  background-color: rgb(114, 114, 243);
}

/*
과거
top: 0;
left: 50%;
margin-left: -150px;
*/

.box1 span {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: yellow;
}

.box2 {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: pink;
  left: calc(100% - 100px);
  top: calc(50% - 50px);
}

.container {
  width: 300px;
  padding: 20px;
  border: 1px solid red;
}

.container p {
  position: relative;
  background-color: yellow;
  padding: 20px;
}

.container p::before {
  content: "";
  position: absolute;
  right: -10px;
  top: -10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}
